<div class="dialog">

  <header>

    <div class="header-icon">
      <mat-icon>
        corporate_fare
      </mat-icon>
    </div>

    <div>

      <h2>
        Новая кафедра
      </h2>

      <p>
        Создание кафедры факультета
      </p>

    </div>


    <button
      type="button"
      class="close"
      (click)="close()"
    >
      <mat-icon>
        close
      </mat-icon>
    </button>

  </header>


  <div class="form">

    <label>

      <span>
        Название кафедры *
      </span>

      <input
        [(ngModel)]="name"
        placeholder="Кафедра информационных технологий"
      />

    </label>


    <label>

      <span>
        Факультет / направление *
      </span>

      <mat-select
        [(ngModel)]="facultyId"
        placeholder="Выберите факультет"
      >

        @for (
          faculty of data.faculties;
          track faculty.id
        ) {

          <mat-option
            [value]="faculty.id"
          >
            {{ faculty.name }}
            ({{ faculty.shortName }})
          </mat-option>

        }

      </mat-select>

    </label>


    @if (error()) {

      <div class="error">
        {{ error() }}
      </div>

    }

  </div>


  <footer>

    <button
      type="button"
      class="cancel"
      (click)="close()"
    >
      Отмена
    </button>


    <button
      type="button"
      class="save"
      [disabled]="saving()"
      (click)="save()"
    >
      <mat-icon>
        add
      </mat-icon>

      {{
        saving()
          ? 'Создание...'
          : 'Создать кафедру'
      }}
    </button>

  </footer>

</div>