<section class="dialog">

  <header>

    <div class="dialog-icon">
      <mat-icon>
        calendar_month
      </mat-icon>
    </div>

    <div>
      <h2>
        Новый учебный год
      </h2>

      <p>
        Семестры будут созданы
        автоматически
      </p>
    </div>

  </header>


  <div class="content">

    <label>

      <span>
        Начальный год
      </span>

      <input
        type="number"
        min="2020"
        max="2100"
        [formControl]="year"
      />

    </label>


    <div class="preview">

      <span>
        Будет создан учебный год
      </span>

      <strong>
        {{ year.value }}/{{ nextYear }}
      </strong>

    </div>


    <div class="semesters-preview">

      <div>
        <mat-icon>
          looks_one
        </mat-icon>

        <span>
          1 семестр
        </span>
      </div>


      <div>
        <mat-icon>
          looks_two
        </mat-icon>

        <span>
          2 семестр
        </span>
      </div>

    </div>


    @if (error()) {

      <div class="error-message">

        <mat-icon>
          error_outline
        </mat-icon>

        {{ error() }}

      </div>

    }

  </div>


  <footer>

    <button
      type="button"
      class="cancel"
      (click)="close()"
    >
      Отмена
    </button>


    <button
      type="button"
      class="submit"
      [disabled]="
        year.invalid ||
        submitting()
      "
      (click)="submit()"
    >

      @if (submitting()) {

        <mat-spinner
          diameter="18"
        />

        Создаём…

      } @else {

        <mat-icon>
          add
        </mat-icon>

        Создать

      }

    </button>

  </footer>

</section>