<div class="dialog">

<header>

  <div class="header-icon">
    <mat-icon>
      upload_file
    </mat-icon>
  </div>

  <div>
    <h2>
      Новый материал
    </h2>

    <p>
      Добавление материала в дисциплину
    </p>
  </div>

  <button
    type="button"
    (click)="close()"
  >
    <mat-icon>
      close
    </mat-icon>
  </button>

</header>


  <div class="form">

    <label>
      <span>
        Тип материала
      </span>

      <mat-select
        [(ngModel)]="type"
      >
        <mat-option value="FILE">
          Файл
        </mat-option>

        <mat-option value="LINK">
          Ссылка
        </mat-option>
      </mat-select>
    </label>


    <label>
      <span>
        Дисциплина *
      </span>

      <mat-select
        [(ngModel)]="subjectId"
        placeholder="Выберите дисциплину"
      >
        @for (
          subject of data.subjects;
          track subject.id
        ) {
          <mat-option
            [value]="subject.id"
          >
            {{ subject.name }}
          </mat-option>
        }
      </mat-select>
    </label>


    <label>
      <span>
        Название *
      </span>

      <input
        [(ngModel)]="title"
        placeholder="Лекция №1"
      />
    </label>


    <label>
      <span>
        Описание
      </span>

      <textarea
        [(ngModel)]="description"
        rows="4"
        placeholder="Описание материала..."
      ></textarea>
    </label>


    @if (type === 'FILE') {

      <label>
        <span>
          Файл *
        </span>

        <input
          type="file"
          (change)="selectFile($event)"
        />
      </label>

      @if (file) {
        <div class="selected-file">
          <mat-icon>
            description
          </mat-icon>

          {{ file.name }}
        </div>
      }

    } @else {

      <label>
        <span>
          Ссылка *
        </span>

        <input
          [(ngModel)]="url"
          placeholder="https://..."
        />
      </label>

    }


    @if (error()) {
      <div class="error">
        {{ error() }}
      </div>
    }

  </div>


  <footer>

    <button
      type="button"
      class="cancel"
      (click)="close()"
    >
      Отмена
    </button>

    <button
      type="button"
      class="save"
      [disabled]="saving()"
      (click)="save()"
    >
      <mat-icon>
        upload
      </mat-icon>

      {{
        saving()
          ? 'Сохранение...'
          : 'Добавить материал'
      }}
    </button>

  </footer>

</div>