<div class="student-shell" [class.sidebar-opened]="sidebarOpened()">
  <aside class="sidebar">
    <div class="brand">
      <div class="brand-logo">
        <mat-icon>account_balance</mat-icon>
      </div>

      <div>
                <span>НАЦИОНАЛЬНЫЙ НАУЧНО-ОБРАЗОВАТЕЛЬНЫЙ УНИВЕРСИТЕТ</span>
      </div>
    </div>

    <nav class="sidebar-menu">
      @for (item of menu; track item.path) {
      <a class="menu-link" [routerLink]="item.path" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.path === '/student/dashboard' }" (click)="closeSidebar()">
        <mat-icon>{{ item.icon }}</mat-icon>

        <span>{{ item.label }}</span>

        @if (item.badge) {
        <span class="menu-badge">
          {{ item.badge }}
        </span>
        }
      </a>
      }
    </nav>

    <div class="sidebar-bottom">
      <div class="profile-mini">
        <div class="profile-avatar">
          {{ session.initials() }}
        </div>

        <div class="profile-copy">
          <strong>
            {{ session.fullName() }}
          </strong>

          <span>
            {{ session.groupName() }}
          </span>
        </div>

        <mat-icon>chevron_right</mat-icon>
      </div>

      <button type="button" class="logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Выйти
      </button>
    </div>
  </aside>

  <div class="sidebar-backdrop" (click)="closeSidebar()"></div>

  <div class="workspace">
    <header class="topbar">
      <div class="topbar-left">
        <button type="button" class="mobile-menu-button" (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>

        <h1>{{ pageTitle() }}</h1>
      </div>

      <label class="search">
        <mat-icon>search</mat-icon>

        <input type="search" placeholder="Поиск по системе" />
      </label>

      <div class="topbar-actions">
        <button type="button" class="icon-button">
          <app-notification-bell />
        </button>

        <button type="button" class="icon-button">
          <mat-icon>mail_outline</mat-icon>
          <span class="action-badge">2</span>
        </button>

        <div class="topbar-profile">
          <div class="topbar-avatar">
            @if (session.user()?.avatarUrl) {
            <img [src]="session.user().avatarUrl" [alt]="session.fullName()" />
            } @else {
            <span>
              {{ session.initials() }}
            </span>
            }
          </div>

          <div>
            <strong>
              {{ session.departmentName() }}
            </strong>

            <span>
              {{ session.groupName() }}
            </span>
          </div>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </header>

    <main class="workspace-content">
      <router-outlet />
    </main>
  </div>
</div>